.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    padding-bottom: 10vh;
}
.title{
    background-color: rgba(0, 0, 0, 0.837);
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
    text-decoration: underline 2px rgb(21, 211, 211);
    margin-bottom: 5vh;
}
