.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
    padding-bottom: 10vh;
}
.title{
    background-color: rgba(0, 0, 0, 0.837);
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
    text-decoration: underline 2px rgb(21, 211, 211);
    margin-bottom: 5vh;
}
.titleNotAddedYet{
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: rgb(249, 192, 24);
    text-decoration: underline 2px rgb(21, 211, 211);
}
.underTitle{
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
    text-decoration: underline 2px rgb(249, 192, 24);
}
.visitedbreweriesText{
    color: teal;
    font-family: 'Anton', sans-serif;
    text-decoration: underline 1px rgb(249, 192, 24);
}
.visitedSpan{
    color:rgb(249, 192, 24) ;
}
.underTextWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
