.container{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 6vw;
    width: clamp(300px, 20vw, 30vw);    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vw;
    align-items: center;
}
.img{
    width: clamp(50px, 5vw, 10vw);   
    cursor: pointer;
}
.img:active{
    animation-name: spin;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
.infoDiv{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: aliceblue;
}
.infoText{
    font-size: calc(10px + 0.1vw);
}

@keyframes  spin{
    10%{
    }
  
    100%{
        transform: rotate(1440deg) scale(2.2);
    }
  }